<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/home.css">
    <title>The Home Page</title>
</head> 

<body>
    <nav>
        <a href="/">Home</a>
        <a href="/truthvsmyth">About</a>
        <a href="/nzissues">Contact</a>
        <a href="/impacts">Impacts</a>
    </nav>
      <div class="about-container">   
        
        <img class="gallery" 
        id="image" src="/static/stue660e51784d82d5cf5649b2d0cf1873d (1).jpg" alt="About Image"/>  

                   
            <div class="text-container">
                <p>My name is Jack Peters, a Year 11 student at Sacred Heart College in Auckland. Much of my time outside the classroom is spent on the water with the school's rowing team, where consistent training paid off in my novice season with three national medals. When I am not rowing or studying, I usually spend my downtime playing video games or reading to unwind. As I move through my final years of school, I am focused on pushing my limits in rowing, keeping my grades up, and making the most of my time at Sacred Heart.</p>
            </div>            

            <div class="text-container2"> 
                <p>From a Catholic perspective, every person has value simply because they exist. In today’s online world, it is easy to forget that behind every screen is a real human being, not just a profile picture or a target for mean comments. Having a social duty means carrying kindness into digital spaces by standing up to cyberbullying, avoiding online drama, and sharing things that actually help others. Ultimately, technology should be used to bring people together, look out for the vulnerable, and build up our real-world communities.</p>
             </div>
      
    </div> 
   
</body>
</html>